@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');

body {
	margin: 0;
	padding: 0;
	background-color: #121212;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	text-align: center;
}
a:visited {
	color: whitesmoke;
}
a:link {
	color: whitesmoke;
}
.div-content {
	text-align: center;
}
.div-content-info {
	padding: 10px;
	width: 50%;
	text-align: center;
	border-radius: 20px;
	margin: 10px 0px 10px 0px;
}
.navbar-content {
	padding-left: 6px;
	display: inline;
}
#navbar {
	margin-top: -10px;
	width: 100%;
	background-color: #444444;
	border-radius: 10px;
}
#navbar-list {
	padding: 10px 6px 10px 6px;
	list-style-type: none;
}
#homepage {
	display: grid;
	place-items: center;
}
#table {
	display: grid;
	place-items: center;
}
table,
td,
th {
	border: 1px solid white;
	padding-left: 6px;
	padding-right: 6px;
}
table {
	border-collapse: collapse;

	width: 50%;
}
#disclaimer {
	color: rgba(199, 199, 199, 0.5);
}
